rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /system/siteIcon {
      allow read: if true;
      allow write: if request.auth != null &&
        get(/databases/$(database)/documents/users/$(request.auth.uid)).data.role == 'superAdmin';
    }
  }
}